#container {
    margin: 0 auto;
    width: 1000px;
}
#leftside {
    position: fixed;
    width: 20%;
    margin-right: 5px;
    float:left;
}
#rightside  {
    width:69%;
    float: right;
    margin-left: 5px;
}
img {
    height: 230px;
    width: 230px;
    padding: 0px;
    margin-left:  auto;
    margin-right: auto;
    display: block;

}
.carousel-item  {
    transition:transform 5s ease;
  }


h3 {
    border-bottom: 3px solid;
}

@media screen and (max-width:600px) {
    #leftside,#rightside {
        float: none;
        width: 100%;
        position: relative;
    }
    #img {
        display: inline;
    }
